@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bs-body-font-family: 'Bangers', monospace !important;
  font-size: 18px;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

a {
  color: grey;
  text-decoration: none;
}

// Header
header {
  height: 100px;
  padding: 0 6rem;
  margin: 0 auto;

  .logo {
    img {
      width: 75%;
    }
  }
}

// Jumbotron
.jumbo {
  width: 100%;
  height: 350px;
  background-image: url('../img/jumbotron.jpg');
  background-size: cover;
}

// Main
main {
  min-height: 100px;
  background-color: #1c1c1c;
  color: #fff;

  .container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
    
    .item {
      width: calc((100% / 6) - 2rem);
      margin: 1rem;
    }
    
    img {
      width: 100%;
      height: 240px;
    }
  }

  .load-more {
    color: #fff;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;

    a {
      color: #fff;
      text-decoration: none;
      background: rgb(0, 102, 255);
      padding: .65rem 2rem;
    }
  }
}

// Shop Icon
.shop {
  height: 150px;
  background-color: rgb(0, 102, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
  z-index: 100;

  &>div {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 1.75rem;

    img {
      height: 40%;
      margin-right: .5rem;
    }
  }

  .visa {
    img {
      width: 35%;
    }
  }
}

// Footer
.footer-top {
  height: 400px;
  background-image: url('../img/footer-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-size: .75rem;
  padding: 1.5rem 6rem;

  .footer-resources {
    display: flex;

    &>div {
      margin-right: 1.5rem;

      li {
        line-height: 1.5rem;

        a {
          color: grey;
        }
      }
    }
  }

  h3 {
    color: #fff;
    margin: .75rem 0;
    font-size: 1.25rem;
  }

  .footer-logo-img {
    img {
      position: absolute;
      right: 10rem;
      top: -6rem;
      z-index: 1;
    }
  }
}

.footer-bottom {
  padding: 0 6rem;
  background-color: rgb(47, 47, 47);
  position: relative;
  z-index: 110;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .sign-up {
    a {
      color: #fff;
      padding: .85rem;
      border: 3px solid $primary;
    }
  }

  .socials {
    display: flex;
    align-items: center;
    height: 80px;

    a {
      color: $primary;
      margin-right: 2rem;
    }
  }
}

// SEZIONE COMIC SINGOLO
.comic-img {
  background-color: rgb(0, 102, 255);
}

.mc-container {
  background-color: #fff;
  font-size: .85rem;
  width: 75%;
  margin: 0 auto;
  padding: 3rem 6rem;

  .price-available {
    background-color: #6dd47e;

    .check {
      border-left: 1px solid #fff;
    }
  }

  .description {
    font-size: 1rem;
  }
}

.authors-container {
  background-color: whitesmoke;
  position: relative;
  z-index: 120;
  min-height: 100px;

  .auth-content {
    width: 75%;
    margin: 0 auto;
    padding: 3rem 6rem;

    .talent,
    .specs {
      font-size: .75rem;

      .title {
        width: 50%;
        padding-right: 3rem;
      }
    }
    
    .talent {
      margin-right: 4rem;
    }
  }
}